.angle-down-fill {
  width: 38px;
  height: 19px;
}

.angle-down {
  width: 39px;
  height: 20px;
}

.angle-left {
  width: 19px;
  height: 38px;
}

.angle-right {
  width: 20px;
  height: 39px;
}

.angle-up-fill {
  width: 38px;
  height: 19px;
}

.angle-up {
  width: 38px;
  height: 19px;
}

.hamburger {
  width: 50px;
  height: 37px;
}

.izzie-logo {
  width: 358.66px;
  height: 65.78px;
}

.x {
  width: 45px;
  height: 45px;
}

