/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
* Indentation and bullets
*/
ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

/**
 * Remove extra vertical spacing when nesting lists.
 */
li {

    > ul,
    > ol {
        margin-bottom: 0;
    }

}
