/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6.
 */

// Predefine the variables below in order to alter and enable specific features.
$sat-heading-size-1:  36px !default;
$sat-heading-size-2:  24px !default;
$sat-heading-size-3:  18px !default;
$sat-heading-size-4:  16px !default;
$sat-heading-size-5:  14px !default;
$sat-heading-size-6:  12px !default;

h1 {
    @include sat-font-size($sat-heading-size-1);
    @include font-weight(light);
}

h2 {
    @include sat-font-size($sat-heading-size-2);
    @include font-weight(light);
}

h3 {
    @include sat-font-size($sat-heading-size-3);
    @include font-weight(semibold);
}

h4 {
    @include sat-font-size($sat-heading-size-4);
}

h5 {
    @include sat-font-size($sat-heading-size-5);
}

h6 {
    @include sat-font-size($sat-heading-size-6);
}
