/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre,
%margin-bottom {
    // If this causes problems, set margin-bottom to $sat-base-spacing-unit
    margin-bottom: ($sat-base-spacing-unit / $sat-base-font-size) * 1rem;
}

/**
 * Emboldened elements.
 */
a,
strong,
b,
dt {
    @include font-weight(bold);
}





/**
 * Code-like elements.
 */
// code, kbd, samp {
//     color: $color-code;
//     font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
//     font-style: normal;
// }

// pre {
//     white-space: pre;
//     word-wrap: normal;
//     overflow: auto;
//     padding: $spacing-unit--small;
//     background-color: $color-pre-background;
//     border-radius: $base-round;

//     &,
//     code, kbd, samp {
//         color: $color-pre;
//     }

// }





/**
 * Figures.
 *
 * 1. Outdent figures by an arbitrary amount at the relevant viewport size.
 * 2. Reindent figcaptions.
 */
figure {

    @media screen and (min-width: 1380px) {
        margin-left: -128px; /* [1] */
    }

    > img {
        border-radius: $sat-base-round;
    }

}

figcaption {

    @include sat-font-size(12px);

    @media screen and (min-width: 1380px) {
        margin-left: 128px; /* [2] */
    }

}





/**
 * Horizontal rules.
 */
hr {
    border:         0;
    border-bottom:  1px solid theme-color('gray');
    margin-bottom:  $sat-base-spacing-unit - 1px;
}





/**
 * Highlighted text.
 */
mark {

    pre & {
        background:     none;
        border-bottom:  1px solid;
        color:          inherit;
    }

}
