/*------------------------------------*\
    #ANCHORS
\*------------------------------------*/

a {
    @include font-weight(semibold);
    @include attention() {
        color: theme-color('black');
    }

    color: theme-color('black');
    text-decoration: none;
    transition: color .1s;
}
