// sass-lint:disable mixins-before-declarations

.o-post-grid {
    column-count: 1;
    column-gap: 2em;

    @include media-query(small) {
        column-count: 2;
    }

    @include media-query(desk) {
        column-count: 3;
    }
}

.o-post-grid__post {
    break-inside: avoid;
    page-break-inside: avoid;

    &:focus {
        outline: none;
    }
}

.o-post-grid__post-title {
    display: block;
    line-height: 1.8;
    opacity: 0;
    transition: opacity .2s linear;

    .o-post-grid__post:hover & {
        opacity: 1;
    }
}

.o-post-grid__post-thumb:focus,
a[data-lity]:focus {
    outline: none;
}

// Lightbox BG Overlay
.lity {
    background-color: #FFF;
}

.lity-close,
.lity-close:hover {
    color: theme-color('black');
    text-shadow: none;
}

.c-work-post__info {
    max-width: 50%;
}

.c-work-post__full-img {
    max-height: 98vh;
}
