/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.c-icon {
    width:                  16px;
    height:                 16px;
    background-repeat:      no-repeat;
    background-position:    50% 50%;
}

.c-icon--sprites {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.c-icon--logo {
    width: 125px;
    height: 40px;
    fill: theme-color('black');
    display: block;
}
