/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/

// If we have included this file, set a variable to tell the rest of the
// framework that global `box-sizing: border-box` has been set.
$sat-global-border-box: true;

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
    box-sizing: border-box;
}

* {

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }

}
