/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
// TODO: layout--column

/**
 * This is an extension of the InuitCSS grid system, reworked to use flexbox. https://github.com/inuitcss/objects.layout
 *
 * The gl layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */

// Predefine the variables below in order to alter and enable specific features.
$sat-layout-namespace:        $sat-namespace !default;

$sat-layout-gutter:           $sat-base-spacing-unit !default;
$sat-layout-gutter--tiny:       quarter($sat-layout-gutter) !default;
$sat-layout-gutter--small:        halve($sat-layout-gutter) !default;
$sat-layout-gutter--large:       double($sat-layout-gutter) !default;
$sat-layout-gutter--huge:     quadruple($sat-layout-gutter) !default;

$sat-enable-layout--tiny:     false !default;
$sat-enable-layout--small:    false !default;
$sat-enable-layout--large:    false !default;
$sat-enable-layout--huge:     false !default;
$sat-enable-layout--flush:    false !default;
$sat-enable-layout--rev:      false !default;
$sat-enable-layout--middle:   false !default;
$sat-enable-layout--bottom:   false !default;
$sat-enable-layout--right:    false !default;
$sat-enable-layout--center:   false !default;
$sat-enable-layout--auto:     false !default;

$sat-grid-row-class:     'layout' !default;
$sat-grid-col-class:     'layout__item' !default;
$sat-grid-offset-class:  'push' !default;

// Here we set a variable assuming that `box-sizing: border-box;` is not set
// globally. If it has been previously been defined, the following variable will
// be overriden and will be set to `true`.
$sat-global-border-box: false !default;

// DEFINE THE NUMBER OF COLUMNS
$sat-widths-columns: (
    1,
    2,
    3,
    4,
    5,
) !default;


// DEFAULT ROWS
.#{$sat-layout-namespace}#{$sat-grid-row-class},
%#{$sat-layout-namespace}#{$sat-grid-row-class} {
    box-sizing:     border-box;
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    margin-left:    -($sat-layout-gutter);
    margin-right:   -($sat-layout-gutter);
    padding-right:  $sat-layout-gutter;
}

// DEFAULT COLUMNS
.#{$sat-layout-namespace}#{$sat-grid-col-class},
%#{$sat-layout-namespace}#{$sat-grid-col-class} {
    box-sizing:     border-box;
    flex:           1;
    padding-left:   $sat-layout-gutter;

    @if $sat-global-border-box == false {
        box-sizing: border-box;
    }

}

// GENERATE COLUMN CLASSES
@include sat-flex-widths($sat-widths-columns);

// GENERATE PUSH CLASSES
@include sat-push-widths($sat-widths-columns);

@if ($sat-enable-layout--tiny == true) {

    /**
     * Layouts with tiny gutters.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--tiny {
        margin-left:        -($sat-layout-gutter--tiny);
        margin-right:       -($sat-layout-gutter--tiny);
        padding-right:      $sat-layout-gutter--tiny;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            padding-left:   $sat-layout-gutter--tiny;
        }

    }

}

@if ($sat-enable-layout--small == true) {

    /**
     * Layouts with small gutters.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--small {
        margin-left:        -($sat-layout-gutter--small);
        margin-right:       -($sat-layout-gutter--small);
        padding-right:      $sat-layout-gutter--small;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            padding-left:   $sat-layout-gutter--small;
        }

    }

}

@if ($sat-enable-layout--large == true) {

    /**
     * Layouts with large gutters.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--large {
        margin-left:        -($sat-layout-gutter--large);
        margin-right:       -($sat-layout-gutter--large);
        padding-right:      $sat-layout-gutter--large;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            padding-left:   $sat-layout-gutter--large;
        }

    }

}

@if ($sat-enable-layout--huge == true) {

    /**
     * Layouts with huge gutters.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--huge {
        margin-left:        -($sat-layout-gutter--huge);
        margin-right:       -($sat-layout-gutter--huge);
        padding-right:      $sat-layout-gutter--huge;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            padding-left:   $sat-layout-gutter--huge;
        }

    }

}

@if ($sat-enable-layout--flush == true) {

    /**
     * Layouts with no gutters.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--flush {
        margin-left:        0;
        margin-right:       0;
        padding-right:      0;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            padding-left:   0;
        }

    }

}

@if ($sat-enable-layout--rev == true) {

    /**
     * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
     * markup will display in order 4, 3, 2, 1 on your page.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--rev {
        flex-direction: row-reverse;
    }

}

@if ($sat-enable-layout--middle == true) {

    /**
     * Align layout items to the vertical centers of each other.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--middle {

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            vertical-align: middle;
        }

    }

}

@if ($sat-enable-layout--bottom == true) {

    /**
     * Align layout items to the vertical bottoms of each other.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--bottom {

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            vertical-align: bottom;
        }

    }

}

@if ($sat-enable-layout--right == true) {

    /**
     * Make the layout items fill up from the right hand side.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--right {
        text-align: right;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            text-align: left;
        }

    }

}

@if ($sat-enable-layout--center == true) {

    /**
     * Make the layout items fill up from the center outward.
     */

    .#{$sat-layout-namespace}#{$sat-grid-row-class}--center {
        text-align: center;

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            text-align: left;
        }

    }

}

@if ($sat-enable-layout--auto == true) {

    /**
     * Cause layout items to take up a non-explicit amount of width.
     */
    .#{$sat-layout-namespace}#{$sat-grid-row-class}--auto {

        > .#{$sat-layout-namespace}#{$sat-grid-col-class},
        > %#{$sat-layout-namespace}#{$sat-grid-col-class} {
            width: auto;
        }

    }

}
