/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * This is a copy of the InuitCSS grid system. https://github.com/inuitcss/objects.layout
 *
 * The layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */

// Predefine the variables below in order to alter and enable specific features.
$sat-layout-namespace:        $sat-namespace !default;

$sat-layout-gutter:           $sat-base-spacing-unit !default;
$sat-layout-gutter--tiny:       quarter($sat-layout-gutter) !default;
$sat-layout-gutter--small:        halve($sat-layout-gutter) !default;
$sat-layout-gutter--large:       double($sat-layout-gutter) !default;
$sat-layout-gutter--huge:     quadruple($sat-layout-gutter) !default;

$sat-enable-layout--tiny:     false !default;
$sat-enable-layout--small:    false !default;
$sat-enable-layout--large:    false !default;
$sat-enable-layout--huge:     false !default;
$sat-enable-layout--flush:    false !default;
$sat-enable-layout--rev:      false !default;
$sat-enable-layout--middle:   false !default;
$sat-enable-layout--bottom:   false !default;
$sat-enable-layout--right:    false !default;
$sat-enable-layout--center:   false !default;
$sat-enable-layout--auto:     false !default;
// Here we set a variable assuming that `box-sizing: border-box;` is not set
// globally. If it has been previously been defined, the following variable will
// be overriden and will be set to `true`.
$sat-global-border-box: false !default;

/**
 * Begin a layout group.
 */
.#{$sat-layout-namespace}layout,
%#{$sat-layout-namespace}layout {
    list-style:     none;
    margin:         0;
    padding:        0;
    margin-left:    -$sat-layout-gutter;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.#{$sat-layout-namespace}layout__item,
%#{$sat-layout-namespace}layout__item {
    display:        inline-block; /* [1] */
    padding-left:   $sat-layout-gutter; /* [2] */
    vertical-align: top; /* [3] */
    width:          100%; /* [4] */

    @if $sat-global-border-box == false {
        box-sizing: border-box; /* [5] */
    }

}

@if ($sat-enable-layout--tiny == true) {

    /**
     * Layouts with tiny gutters.
     */

    .#{$sat-layout-namespace}layout--tiny,
    %#{$sat-layout-namespace}layout--tiny {
        margin-left: -($sat-layout-gutter--tiny);

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            padding-left: $sat-layout-gutter--tiny;
        }

    }

}

@if ($sat-enable-layout--small == true) {

    /**
     * Layouts with small gutters.
     */

    .#{$sat-layout-namespace}layout--small,
    %#{$sat-layout-namespace}layout--small {
        margin-left: -($sat-layout-gutter--small);

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            padding-left: $sat-layout-gutter--small;
        }

    }

}

@if ($sat-enable-layout--large == true) {

    /**
     * Layouts with large gutters.
     */

    .#{$sat-layout-namespace}layout--large,
    %#{$sat-layout-namespace}layout--large {
        margin-left: -($sat-layout-gutter--large);

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            padding-left: $sat-layout-gutter--large;
        }

    }

}

@if ($sat-enable-layout--huge == true) {

    /**
     * Layouts with huge gutters.
     */

    .#{$sat-layout-namespace}layout--huge,
    %#{$sat-layout-namespace}layout--huge {
        margin-left: -($sat-layout-gutter--huge);

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            padding-left: $sat-layout-gutter--huge;
        }

    }

}

@if ($sat-enable-layout--flush == true) {

    /**
     * Layouts with no gutters.
     */

    .#{$sat-layout-namespace}layout--flush,
    %#{$sat-layout-namespace}layout--flush {
        margin-left: 0;

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            padding-left: 0;
        }

    }

}

@if ($sat-enable-layout--rev == true) {

    /**
     * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
     * markup will display in order 4, 3, 2, 1 on your page.
     */

    .#{$sat-layout-namespace}layout--rev,
    %#{$sat-layout-namespace}layout--rev {
        direction:  rtl;
        text-align: left;

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            direction:  ltr;
            text-align: left;
        }

    }

}

@if ($sat-enable-layout--middle == true) {

    /**
     * Align layout items to the vertical centers of each other.
     */

    .#{$sat-layout-namespace}layout--middle,
    %#{$sat-layout-namespace}layout--middle {

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            vertical-align: middle;
        }

    }

}

@if ($sat-enable-layout--bottom == true) {

    /**
     * Align layout items to the vertical bottoms of each other.
     */

    .#{$sat-layout-namespace}layout--bottom,
    %#{$sat-layout-namespace}layout--bottom {

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            vertical-align: bottom;
        }

    }

}

@if ($sat-enable-layout--right == true) {

    /**
     * Make the layout items fill up from the right hand side.
     */

    .#{$sat-layout-namespace}layout--right,
    %#{$sat-layout-namespace}layout--right {
        text-align: right;

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            text-align: left;
        }

    }

}

@if ($sat-enable-layout--center == true) {

    /**
     * Make the layout items fill up from the center outward.
     */

    .#{$sat-layout-namespace}layout--center,
    %#{$sat-layout-namespace}layout--center {
        text-align: center;

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            text-align: left;
        }

    }

}

@if ($sat-enable-layout--auto == true) {

    /**
     * Cause layout items to take up a non-explicit amount of width.
     */
    .#{$sat-layout-namespace}layout--auto,
    %#{$sat-layout-namespace}layout--auto {

        > .#{$sat-layout-namespace}layout__item,
        > %#{$sat-layout-namespace}layout__item {
            width: auto;
        }

    }

}
