.o-site {
    @include media-query('desk') {
        padding-top: $sat-base-spacing-unit;
    }
}

.o-site__header {
    @include media-query('desk') {
        position: fixed;
    }
    position: relative;
    padding: $header-height/2 $sat-base-spacing-unit;
    background-color: theme-color-shade('gray', 8);
    max-height: $header-height;
    overflow: hidden;
    transition: max-height .3s ease-out, padding-top .3s linear;
    top: 0;
    z-index: 2;

    &.open {
        @include media-query('desk') {
            max-height: 50rem;
        }

        padding: 50px $header-height/2 $sat-base-spacing-unit;
        max-height: 100%;
        transition: max-height .5s ease-out;
    }
}

.o-site__header-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    border: 10px solid transparent;
    display: block;
    box-sizing: border-box;
    z-index: 2;

    .open & {
        top: -10px;
        right: 10px;
    }

    &:before {
        font-size: 15px;
        font-weight: normal;
        content: 'INFO';

        .open & {
            font-size: 30px;
            content: '\00D7';
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.c-header-content {
    color: theme-color('black');
    opacity: 0;
    transition: opacity .3s ease-out;

    .open & {
        transition: opacity .7s ease-out;
        opacity: 1;
    }
}

.c-header__title {
    position: absolute;
    top: 5px;
    z-index: 1;
}

.o-site__content {
    padding: $header-height $sat-base-spacing-unit;
}
