// ///*------------------------------------*\
// //    #THEME COLORS
// //\*------------------------------------*/

$theme-colors: (
    'primary': #17149A,
    'accent': #FF452B,
    'secondary': #997257,
    'foreground': #CC5D0E,
    'background': #34CC2B,
    'white': #FFF,
    'black': #000,
    'gray': #B8BCC2
);

@function theme-color($key: 'primary') {
    @return map-get($theme-colors, $key);
}

$color-interval: 10% !global;

@function theme-color-shade($color-name: 'primary', $level: 0) {
    $color: theme-color($color-name);
    $color-base: if($level < 0, #000, #FFF);

    @return mix($color-base, $color, abs($level) * $color-interval);
}
