/*!
 * Foundations and inspiration for gl has come from inuitcss, by @csswizardry. Brilliant work!
 *
 * github.com/inuitcss | inuitcss.com
 */
///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are global defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.


// High-level base settings.
$sat-base-font-size:        16px !default;
$sat-base-line-height:      24px !default;
$sat-base-text-color:       theme-color('black') !default;
$sat-base-background-color: theme-color-shade('white', 1) !default;


// Namespace.
//
// Would you like gl’ classes to be prepended with a namespace? If so,
// define it here.
$sat-namespace: null !default;

// Global layout class names
// These are used in a few places for grid sizes and responsince breakpoints
// $sat-grid-row-class: 'layout' !default;
// $sat-grid-col-class: 'layout__item' !default;
// $sat-grid-offset-class: 'push' !default;


// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$sat-base-spacing-unit: $sat-base-line-height;
$sat-base-spacing-unit--small: round($sat-base-spacing-unit / 2);
$sat-base-spacing-unit--large: round($sat-base-spacing-unit * 2);
