///*------------------------------------*\
//    #FUNCTIONS
//\*------------------------------------*/

// Maths helpers.
//
// Halve and double numbers, returning rounded integers. E.g.:
//
// .foo {
//     padding: halve(3.2px);
// }
//
@function quarter($sat-number) {
    @return round($sat-number / 4);
}

@function halve($sat-number) {
    @return round($sat-number / 2);
}

@function double($sat-number) {
    @return round($sat-number * 2);
}

@function quadruple($sat-number) {
    @return round($sat-number * 4);
}


/// Map deep get
/// @author Hugo Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
