///*------------------------------------*\
//    #MIXINS
//\*------------------------------------*/




///*------------------------------------*\
//    #FONT SIZING
//\*------------------------------------*/

// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value, e.g.:
//
// .foo {
//     @include sat-font-size(12px);
// }
//
// This will generate a rem-based font-size with its pixel fallback, as well as
// a unitless line-height which will place the element on your baseline, e.g.:
//
// .foo {
//     font-size: 12px;
//     font-size: 0.75rem;
//     line-height: 2;
// }
//
// If you do not want gl to generate you a line-height automatically, you
// simply pass in your own as a second paramater:
//
// .foo {
//     @include sat-font-size(12px, 1.5);
// }
//
// This will yield:
//
// .foo {
//     font-size: 12px;
//     font-size: 0.75rem;
//     line-height: 1.5;
// }
//
// This parameter can be any integer, ‘inherit’, or ‘normal’. If you don’t want
// a line-height at all, pass in a second paramater of ‘none’ or ‘false’:
//
// .foo {
//     @include sat-font-size(12px, none);
// }
//
// This will yield:
//
// .foo {
//     font-size: 12px;
//     font-size: 0.75rem;
// }

@mixin sat-font-size($sat-font-size, $sat-line-height: auto) {
    font-size: ($sat-font-size / $sat-base-font-size) * 1rem;

    @if $sat-line-height == auto {

        line-height: ceil($sat-font-size / $sat-base-line-height) * ($sat-base-line-height / $sat-font-size);

    } @else {

        @if (type-of($sat-line-height) == number or $sat-line-height == inherit or $sat-line-height == normal) {

            line-height: $sat-line-height;

        } @elseif ($sat-line-height != none and $sat-line-height != false) {

            @warn 'D’oh! ‘#{$sat-line-height}’ is not a valid value for `line-height`.'

        }

    }

}


///*------------------------------------*\
//    #WIDTHS
//\*------------------------------------*/
// A mixin to spit out our width classes. Pass in the columns we want the widths
// to have, and an optional suffix for responsive widths. E.g. to create thirds
// and quarters for a small breakpoint:
//
// @include sat-widths(3 4, -sm);

// Predefine the variables below in order to alter and enable specific features.
$sat-widths-namespace: $sat-namespace !default;

// Do we want to use classes like `<div class="u-1/4">` instead of
// `<div class="u-1-of-4">`?
$sat-use-fractions: false !default;

// Depending on what we chose for `$sat-use-fractions`, create the relevant
// delimiter.
@if ($sat-use-fractions == true) {

    $sat-widths-delimiter: \/ !global;

} @else {

    $sat-widths-delimiter: -of- !global;

}

@mixin sat-widths($sat-widths-columns, $sat-widths-breakpoint: null) {
    // scss-lint:disable ImportantRule
    // Loop through the number of columns for each denominator of our fractions.
    @each $sat-widths-denominator in $sat-widths-columns {

        // If we’re trying to make wholes, just spit a 100% width utility out
        // one time only.
        @if ($sat-widths-denominator == 1) {
            @if ($sat-use-fractions == true) {
                .#{$sat-widths-namespace}u-1-of-1#{$sat-widths-breakpoint} {
                    width: 100% !important;
                }
            } @else {
                .#{$sat-widths-namespace}u-1-1#{$sat-widths-breakpoint} {
                    width: 100% !important;
                }
            }
        } @else {

            // Begin creating a numerator for our fraction up until we hit the
            // denominator.
            @for $sat-widths-numerator from 1 to $sat-widths-denominator {

                // Build a class in the format `.u-3/4` or `.u-3-of-4`.
                .#{$sat-widths-namespace}u-#{$sat-widths-numerator}#{$sat-widths-delimiter}#{$sat-widths-denominator}#{$sat-widths-breakpoint} {
                    width: ($sat-widths-numerator / $sat-widths-denominator) * 100% !important;
                }

            }
        }
    }
}

@mixin sat-flex-widths($sat-widths-columns, $sat-widths-breakpoint: null) {

    @each $sat-widths-denominator in $sat-widths-columns {

        // If we’re trying to make wholes, just spit a 100% width utility out
        // one time only.
        @if ($sat-widths-denominator == 1) {

            .#{$sat-widths-namespace}u-flex#{$sat-widths-breakpoint}--1-of-1 {
                width:      100%;
                flex-basis: 100%;
            }

        } @else {

            // Begin creating a numerator for our fraction up until we hit the
            // denominator.
            @for $sat-widths-numerator from 1 to $sat-widths-denominator {

                .#{$sat-widths-namespace}u-flex#{$sat-widths-breakpoint}--#{$sat-widths-numerator}#{$sat-widths-delimiter}#{$sat-widths-denominator} {
                    width:      ($sat-widths-numerator / $sat-widths-denominator) * 100%;
                    flex-basis: ($sat-widths-numerator / $sat-widths-denominator) * 100%;
                    flex-grow:  0;
                }

            }
        }
    }
}

@mixin sat-push-widths($sat-widths-columns, $sat-widths-breakpoint: null) {

    @each $sat-widths-denominator in $sat-widths-columns {

        @if($sat-widths-denominator == 1) {
            // allow clearing of exisiting default push classes
            .#{$sat-grid-offset-class}#{$sat-widths-breakpoint}--0 {
                margin-left: 0;
            }
        }
        // Begin creating a numerator for our fraction up until we hit the
        // denominator.
        @for $sat-widths-numerator from 1 to $sat-widths-denominator {
            .#{$sat-widths-namespace}#{$sat-grid-offset-class}#{$sat-widths-breakpoint}--#{$sat-widths-numerator}#{$sat-widths-delimiter}#{$sat-widths-denominator} {
                margin-left: ($sat-widths-numerator / $sat-widths-denominator) * 100%;
            }
        }

    }
}

///*------------------------------------*\
//    #ANCHOR STATES MIXIN
//\*------------------------------------*/

// Apply ‘attention’ styles in one go.
@mixin attention($self: false) {

    @if($self != false) {

        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }

    } @else {

        &:hover,
        &:active,
        &:focus {
            @content;
        }

    }
}





///*------------------------------------*\
//    #FONT WEIGHTS
//\*------------------------------------*/

// Generate Proxima-Nova’s numbered font-weights from their aliases.
// https://typekit.com/fonts/proxima-nova
@mixin font-weight($font-weight) {

    @if ($font-weight == 'thin') {
        font-weight: 100;
    }

    @if ($font-weight == 'light') {
        font-weight: 300;
    }

    @if ($font-weight == 'regular') {
        font-weight: 400;
    }

    @if ($font-weight == 'medium') {
        font-weight: 500;
    }

    @if ($font-weight == 'semibold') {
        font-weight: 600;
    }

    @if ($font-weight == 'bold') {
        font-weight: 700;
    }

    @if ($font-weight == 'extrabold') {
        font-weight: 800;
    }
}
