/*------------------------------------*\
    #SHOW-HIDE
\*------------------------------------*/


@mixin hide() {
    // scss-lint:disable ImportantRule
    position:   absolute !important;
    height:     1px; width: 1px;
    overflow:   hidden;
    clip:       rect(1px, 1px, 1px, 1px);
}

.hide,
.u-hide {
    @include hide();
}

// This won't be set unles responsive settings are already enabled, so we set it false here.
$sat-responsive-settings: false !default;

@if ($sat-responsive-settings == true) {
    @include media-query(desk) {
        .hide-desk {
            @include hide();
        }
    }

    @include media-query(wide) {
        .hide-wide {
            @include hide();
        }
    }

    @include media-query(retina) {
        .hide-retina {
            @include hide();
        }
    }

}

.hide-and-disable,
.u-hide-and-disable {
    visibility:     hidden;
    pointer-events: none;
}
