// sass-lint:disable brace-style
// sass-lint:disable empty-line-between-blocks
// sass-lint:disable class-name-format

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$sat-spacing-namespace:               $sat-namespace !default;

$sat-margin:                          $sat-base-spacing-unit !default;
$sat-margin--small:                       halve($sat-margin) !default;
$sat-margin--tiny:                      quarter($sat-margin) !default;
$sat-margin--large:                      double($sat-margin) !default;
$sat-margin--huge:                    quadruple($sat-margin) !default;

$sat-padding:                         $sat-base-spacing-unit !default;
$sat-padding--small:                      halve($sat-padding) !default;
$sat-padding--tiny:                     quarter($sat-padding) !default;
$sat-padding--large:                     double($sat-padding) !default;
$sat-padding--huge:                   quadruple($sat-padding) !default;

$sat-enable-margins:                  false !default;
$sat-enable-margins--tiny:            false !default;
$sat-enable-margins--small:           false !default;
$sat-enable-margins--large:           false !default;
$sat-enable-margins--huge:            false !default;

$sat-enable-margins--negative:        false !default;
$sat-enable-margins--negative-tiny:   false !default;
$sat-enable-margins--negative-small:  false !default;
$sat-enable-margins--negative-large:  false !default;
$sat-enable-margins--negative-huge:   false !default;

$sat-enable-margins--none:            false !default;

$sat-enable-paddings:                 false !default;
$sat-enable-paddings--tiny:           false !default;
$sat-enable-paddings--small:          false !default;
$sat-enable-paddings--large:          false !default;
$sat-enable-paddings--huge:           false !default;

$sat-enable-paddings--none:           false !default;





@if ($sat-enable-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    .#{$sat-spacing-namespace}u-m     { margin:           $sat-margin !important; }
    .#{$sat-spacing-namespace}u-mt    { margin-top:       $sat-margin !important; }
    .#{$sat-spacing-namespace}u-mr    { margin-right:     $sat-margin !important; }
    .#{$sat-spacing-namespace}u-mb    { margin-bottom:    $sat-margin !important; }
    .#{$sat-spacing-namespace}u-ml    { margin-left:      $sat-margin !important; }
    .#{$sat-spacing-namespace}u-mh    { margin-right:     $sat-margin !important; margin-left:      $sat-margin !important; }
    .#{$sat-spacing-namespace}u-mv    { margin-top:       $sat-margin !important; margin-bottom:    $sat-margin !important; }

}


@if ($sat-enable-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    .#{$sat-spacing-namespace}u-m--   { margin:           $sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u-mt--  { margin-top:       $sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u-mr--  { margin-right:     $sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u-mb--  { margin-bottom:    $sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u-ml--  { margin-left:      $sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u-mh--  { margin-right:     $sat-margin--tiny !important; margin-left:     $sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u-mv--  { margin-top:       $sat-margin--tiny !important; margin-bottom:   $sat-margin--tiny !important; }

}


@if ($sat-enable-margins--small == true) {

    /**
     * Add small margins.
     */

    .#{$sat-spacing-namespace}u-m-    { margin:           $sat-margin--small !important; }
    .#{$sat-spacing-namespace}u-mt-   { margin-top:       $sat-margin--small !important; }
    .#{$sat-spacing-namespace}u-mr-   { margin-right:     $sat-margin--small !important; }
    .#{$sat-spacing-namespace}u-mb-   { margin-bottom:    $sat-margin--small !important; }
    .#{$sat-spacing-namespace}u-ml-   { margin-left:      $sat-margin--small !important; }
    .#{$sat-spacing-namespace}u-mh-   { margin-right:     $sat-margin--small !important; margin-left:   $sat-margin--small !important; }
    .#{$sat-spacing-namespace}u-mv-   { margin-top:       $sat-margin--small !important; margin-bottom: $sat-margin--small !important; }

}


@if ($sat-enable-margins--large == true) {

    /**
     * Add large margins.
     */

    .#{$sat-spacing-namespace}u-m\+   { margin:           $sat-margin--large !important; }
    .#{$sat-spacing-namespace}u-mt\+  { margin-top:       $sat-margin--large !important; }
    .#{$sat-spacing-namespace}u-mr\+  { margin-right:     $sat-margin--large !important; }
    .#{$sat-spacing-namespace}u-mb\+  { margin-bottom:    $sat-margin--large !important; }
    .#{$sat-spacing-namespace}u-ml\+  { margin-left:      $sat-margin--large !important; }
    .#{$sat-spacing-namespace}u-mh\+  { margin-right:     $sat-margin--large !important; margin-left:      $sat-margin--large !important; }
    .#{$sat-spacing-namespace}u-mv\+  { margin-top:       $sat-margin--large !important; margin-bottom:    $sat-margin--large !important; }

}


@if ($sat-enable-margins--huge == true) {

    /**
     * Add huge margins.
     */

    .#{$sat-spacing-namespace}u-m\+\+     { margin:           $sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u-mt\+\+    { margin-top:       $sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u-mr\+\+    { margin-right:     $sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u-mb\+\+    { margin-bottom:    $sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u-ml\+\+    { margin-left:      $sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u-mh\+\+    { margin-right:     $sat-margin--huge !important; margin-left:   $sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u-mv\+\+    { margin-top:       $sat-margin--huge !important; margin-bottom: $sat-margin--huge !important; }

}


@if ($sat-enable-margins--none == true) {

    /**
     * Remove margins.
     */

    .#{$sat-spacing-namespace}u-m0    { margin:           0 !important; }
    .#{$sat-spacing-namespace}u-mt0   { margin-top:       0 !important; }
    .#{$sat-spacing-namespace}u-mr0   { margin-right:     0 !important; }
    .#{$sat-spacing-namespace}u-mb0   { margin-bottom:    0 !important; }
    .#{$sat-spacing-namespace}u-ml0   { margin-left:      0 !important; }
    .#{$sat-spacing-namespace}u-mh0   { margin-right:     0 !important; margin-left:      0 !important; }
    .#{$sat-spacing-namespace}u-mv0   { margin-top:       0 !important; margin-bottom:    0 !important; }

}


@if ($sat-enable-margins--negative == true) {

    /**
     * Negative margins.
     */

    .#{$sat-spacing-namespace}u--m    { margin:           -$sat-margin !important; }
    .#{$sat-spacing-namespace}u--mt   { margin-top:       -$sat-margin !important; }
    .#{$sat-spacing-namespace}u--mr   { margin-right:     -$sat-margin !important; }
    .#{$sat-spacing-namespace}u--mb   { margin-bottom:    -$sat-margin !important; }
    .#{$sat-spacing-namespace}u--ml   { margin-left:      -$sat-margin !important; }
    .#{$sat-spacing-namespace}u--mh   { margin-right:     -$sat-margin !important; margin-left:      -$sat-margin !important; }
    .#{$sat-spacing-namespace}u--mv   { margin-top:       -$sat-margin !important; margin-bottom:    -$sat-margin !important; }

}


@if ($sat-enable-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    .#{$sat-spacing-namespace}u--m--  { margin:           -$sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u--mt-- { margin-top:       -$sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u--mr-- { margin-right:     -$sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u--mb-- { margin-bottom:    -$sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u--ml-- { margin-left:      -$sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u--mh-- { margin-right:     -$sat-margin--tiny !important; margin-left:     -$sat-margin--tiny !important; }
    .#{$sat-spacing-namespace}u--mv-- { margin-top:       -$sat-margin--tiny !important; margin-bottom:   -$sat-margin--huge !important; }

}


@if ($sat-enable-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    .#{$sat-spacing-namespace}u--m-   { margin:           -$sat-margin--small !important; }
    .#{$sat-spacing-namespace}u--mt-  { margin-top:       -$sat-margin--small !important; }
    .#{$sat-spacing-namespace}u--mr-  { margin-right:     -$sat-margin--small !important; }
    .#{$sat-spacing-namespace}u--mb-  { margin-bottom:    -$sat-margin--small !important; }
    .#{$sat-spacing-namespace}u--ml-  { margin-left:      -$sat-margin--small !important; }
    .#{$sat-spacing-namespace}u--mh-  { margin-right:     -$sat-margin--small !important; margin-left:   -$sat-margin--small !important; }
    .#{$sat-spacing-namespace}u--mv-  { margin-top:       -$sat-margin--small !important; margin-bottom: -$sat-margin--small !important; }

}


@if ($sat-enable-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    .#{$sat-spacing-namespace}u--m\+  { margin:           -$sat-margin--large !important; }
    .#{$sat-spacing-namespace}u--mt\+ { margin-top:       -$sat-margin--large !important; }
    .#{$sat-spacing-namespace}u--mr\+ { margin-right:     -$sat-margin--large !important; }
    .#{$sat-spacing-namespace}u--mb\+ { margin-bottom:    -$sat-margin--large !important; }
    .#{$sat-spacing-namespace}u--ml\+ { margin-left:      -$sat-margin--large !important; }
    .#{$sat-spacing-namespace}u--mh\+ { margin-right:     -$sat-margin--large !important; margin-left:      -$sat-margin--large !important; }
    .#{$sat-spacing-namespace}u--mv\+ { margin-top:       -$sat-margin--large !important; margin-bottom:    -$sat-margin--large !important; }

}


@if ($sat-enable-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    .#{$sat-spacing-namespace}u--m\+\+    { margin:           -$sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u--mt\+\+   { margin-top:       -$sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u--mr\+\+   { margin-right:     -$sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u--mb\+\+   { margin-bottom:    -$sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u--ml\+\+   { margin-left:      -$sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u--mh\+\+   { margin-right:     -$sat-margin--huge !important; margin-left:   -$sat-margin--huge !important; }
    .#{$sat-spacing-namespace}u--mv\+\+   { margin-top:       -$sat-margin--huge !important; margin-bottom: -$sat-margin--huge !important; }

}





@if ($sat-enable-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    .#{$sat-spacing-namespace}u-p     { padding:          $sat-padding !important; }
    .#{$sat-spacing-namespace}u-pt    { padding-top:      $sat-padding !important; }
    .#{$sat-spacing-namespace}u-pr    { padding-right:    $sat-padding !important; }
    .#{$sat-spacing-namespace}u-pb    { padding-bottom:   $sat-padding !important; }
    .#{$sat-spacing-namespace}u-pl    { padding-left:     $sat-padding !important; }
    .#{$sat-spacing-namespace}u-ph    { padding-right:    $sat-padding !important; padding-left:    $sat-padding !important; }
    .#{$sat-spacing-namespace}u-pv    { padding-top:      $sat-padding !important; padding-bottom:  $sat-padding !important; }

}


@if ($sat-enable-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    .#{$sat-spacing-namespace}u-p--   { padding:           $sat-padding--tiny !important; }
    .#{$sat-spacing-namespace}u-pt--  { padding-top:       $sat-padding--tiny !important; }
    .#{$sat-spacing-namespace}u-pr--  { padding-right:     $sat-padding--tiny !important; }
    .#{$sat-spacing-namespace}u-pb--  { padding-bottom:    $sat-padding--tiny !important; }
    .#{$sat-spacing-namespace}u-pl--  { padding-left:      $sat-padding--tiny !important; }
    .#{$sat-spacing-namespace}u-ph--  { padding-right:     $sat-padding--tiny !important; padding-left:      $sat-padding--tiny !important; }
    .#{$sat-spacing-namespace}u-pv--  { padding-top:       $sat-padding--tiny !important; padding-bottom:    $sat-padding--tiny !important; }

}


@if ($sat-enable-paddings--small == true) {

    /**
     * Add small paddings.
     */

    .#{$sat-spacing-namespace}u-p-    { padding:           $sat-padding--small !important; }
    .#{$sat-spacing-namespace}u-pt-   { padding-top:       $sat-padding--small !important; }
    .#{$sat-spacing-namespace}u-pr-   { padding-right:     $sat-padding--small !important; }
    .#{$sat-spacing-namespace}u-pb-   { padding-bottom:    $sat-padding--small !important; }
    .#{$sat-spacing-namespace}u-pl-   { padding-left:      $sat-padding--small !important; }
    .#{$sat-spacing-namespace}u-ph-   { padding-right:     $sat-padding--small !important; padding-left:    $sat-padding--small !important; }
    .#{$sat-spacing-namespace}u-pv-   { padding-top:       $sat-padding--small !important; padding-bottom:  $sat-padding--small !important; }

}


@if ($sat-enable-paddings--large == true) {

    /**
     * Add large paddings.
     */

    .#{$sat-spacing-namespace}u-p\+   { padding:           $sat-padding--large !important; }
    .#{$sat-spacing-namespace}u-pt\+  { padding-top:       $sat-padding--large !important; }
    .#{$sat-spacing-namespace}u-pr\+  { padding-right:     $sat-padding--large !important; }
    .#{$sat-spacing-namespace}u-pb\+  { padding-bottom:    $sat-padding--large !important; }
    .#{$sat-spacing-namespace}u-pl\+  { padding-left:      $sat-padding--large !important; }
    .#{$sat-spacing-namespace}u-ph\+  { padding-right:     $sat-padding--large !important; padding-left:   $sat-padding--large !important; }
    .#{$sat-spacing-namespace}u-pv\+  { padding-top:       $sat-padding--large !important; padding-bottom: $sat-padding--large !important; }

}


@if ($sat-enable-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    .#{$sat-spacing-namespace}u-p\+\+     { padding:           $sat-padding--huge !important; }
    .#{$sat-spacing-namespace}u-pt\+\+    { padding-top:       $sat-padding--huge !important; }
    .#{$sat-spacing-namespace}u-pr\+\+    { padding-right:     $sat-padding--huge !important; }
    .#{$sat-spacing-namespace}u-pb\+\+    { padding-bottom:    $sat-padding--huge !important; }
    .#{$sat-spacing-namespace}u-pl\+\+    { padding-left:      $sat-padding--huge !important; }
    .#{$sat-spacing-namespace}u-ph\+\+    { padding-right:     $sat-padding--huge !important; padding-left:    $sat-padding--huge !important; }
    .#{$sat-spacing-namespace}u-pv\+\+    { padding-top:       $sat-padding--huge !important; padding-bottom:  $sat-padding--huge !important; }

}


@if ($sat-enable-paddings--none == true) {

    /**
     * Remove paddings.
     */

    .#{$sat-spacing-namespace}u-p0    { padding:          0 !important; }
    .#{$sat-spacing-namespace}u-pt0   { padding-top:      0 !important; }
    .#{$sat-spacing-namespace}u-pr0   { padding-right:    0 !important; }
    .#{$sat-spacing-namespace}u-pb0   { padding-bottom:   0 !important; }
    .#{$sat-spacing-namespace}u-pl0   { padding-left:     0 !important; }
    .#{$sat-spacing-namespace}u-ph0   { padding-right:    0 !important; padding-left:     0 !important; }
    .#{$sat-spacing-namespace}u-pv0   { padding-top:      0 !important; padding-bottom:   0 !important; }

}
