//////////////////////////////////////////////////////////////////
// This file is for general purpose text formatting utilities
//////////////////////////////////////////////////////////////////

.u-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    padding-right: .5rem;
}
