/*------------------------------------*\
    #SPACING-RESPONSIVE
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$sat-enable-responsive-margins:                   false !default;
$sat-enable-responsive-margins--tiny:             false !default;
$sat-enable-responsive-margins--small:            false !default;
$sat-enable-responsive-margins--large:            false !default;
$sat-enable-responsive-margins--huge:             false !default;

$sat-enable-responsive-margins--negative:         false !default;
$sat-enable-responsive-margins--negative-tiny:    false !default;
$sat-enable-responsive-margins--negative-small:   false !default;
$sat-enable-responsive-margins--negative-large:   false !default;
$sat-enable-responsive-margins--negative-huge:    false !default;

$sat-enable-responsive-margins--none:             false !default;

$sat-enable-responsive-paddings:                  false !default;
$sat-enable-responsive-paddings--tiny:            false !default;
$sat-enable-responsive-paddings--small:           false !default;
$sat-enable-responsive-paddings--large:           false !default;
$sat-enable-responsive-paddings--huge:            false !default;

$sat-enable-responsive-paddings--none:            false !default;




// Internally used mixin to quickly generate our different variants based upon
// the breakpoints defined in `settings.responsive`.

@mixin sat-generate-spacing() {

    // Loop through our previously-defined breakpoints.
    @each $breakpoint in $breakpoints {

        $sat-generate-spacing-alias:      nth($breakpoint, 1) !global;
        $sat-generate-spacing-condition:  nth($breakpoint, 2);

        // This isn’t ideal, but we definitely don’t want to generate widths
        // for retina devices. Exclude retina media-qeuries manually.
        @if ($sat-generate-spacing-alias != 'retina') {

            @include media-query($sat-generate-spacing-alias) {
                @content;
            } // Close media query.

        } // Close retina check.

        // Take the global variable back out of scope.
        $sat-generate-spacing-alias: null !global;

    } // Close breakpoints loop.

}




// scss-lint:disable ImportantRule, SpaceBeforeBrace, SpaceAfterPropertyColon
@if ($sat-enable-responsive-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-m      { margin:           $sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mt     { margin-top:       $sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mr     { margin-right:     $sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mb     { margin-bottom:    $sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ml     { margin-left:      $sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mh     { margin-right:     $sat-margin !important; margin-left:      $sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mv     { margin-top:       $sat-margin !important; margin-bottom:    $sat-margin !important; }

    }

}


@if ($sat-enable-responsive-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-m--     { margin:           $sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mt--    { margin-top:       $sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mr--    { margin-right:     $sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mb--    { margin-bottom:    $sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ml--    { margin-left:      $sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mh--    { margin-right:     $sat-margin--tiny !important; margin-left:     $sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mv--    { margin-top:       $sat-margin--tiny !important; margin-bottom:   $sat-margin--tiny !important; }

    }

}


@if ($sat-enable-responsive-margins--small == true) {

    /**
     * Add small margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-m-      { margin:           $sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mt-     { margin-top:       $sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mr-     { margin-right:     $sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mb-     { margin-bottom:    $sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ml-     { margin-left:      $sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mh-     { margin-right:     $sat-margin--small !important; margin-left:   $sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mv-     { margin-top:       $sat-margin--small !important; margin-bottom: $sat-margin--small !important; }

    }

}


@if ($sat-enable-responsive-margins--large == true) {

    /**
     * Add large margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-m\+     { margin:           $sat-margin--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mt\+    { margin-top:       $sat-margin--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mr\+    { margin-right:     $sat-margin--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mb\+    { margin-bottom:    $sat-margin--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ml\+    { margin-left:      $sat-margin--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mh\+    { margin-right:     $sat-margin--large !important; margin-left:      $sat-margin--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mv\+    { margin-top:       $sat-margin--large !important; margin-bottom:    $sat-margin--large !important; }

    }

}


@if ($sat-enable-responsive-margins--huge == true) {

    /**
     * Add huge margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-m\+\+   { margin:           $sat-margin--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mt\+\+  { margin-top:       $sat-margin--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mr\+\+  { margin-right:     $sat-margin--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mb\+\+  { margin-bottom:    $sat-margin--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ml\+\+  { margin-left:      $sat-margin--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mh\+\+  { margin-right:     $sat-margin--huge !important; margin-left:   $sat-margin--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mv\+\+  { margin-top:       $sat-margin--huge !important; margin-bottom: $sat-margin--huge !important; }

    }

}


@if ($sat-enable-responsive-margins--none == true) {

    /**
     * Remove margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-m0      { margin:           0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mt0     { margin-top:       0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mr0     { margin-right:     0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mb0     { margin-bottom:    0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ml0     { margin-left:      0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mh0     { margin-right:     0 !important; margin-left:      0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-mv0     { margin-top:       0 !important; margin-bottom:    0 !important; }

    }

}


@if ($sat-enable-responsive-margins--negative == true) {

    /**
     * Negative margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--m      { margin:           -$sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mt     { margin-top:       -$sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mr     { margin-right:     -$sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mb     { margin-bottom:    -$sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--ml     { margin-left:      -$sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mh     { margin-right:     -$sat-margin !important; margin-left:      -$sat-margin !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mv     { margin-top:       -$sat-margin !important; margin-bottom:    -$sat-margin !important; }

    }

}


@if ($sat-enable-responsive-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--m--    { margin:           -$sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mt--   { margin-top:       -$sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mr--   { margin-right:     -$sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mb--   { margin-bottom:    -$sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--ml--   { margin-left:      -$sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mh--   { margin-right:     -$sat-margin--tiny !important; margin-left:     -$sat-margin--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mv--   { margin-top:       -$sat-margin--tiny !important; margin-bottom:   -$sat-margin--tiny !important; }

    }

}


@if ($sat-enable-responsive-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--m-     { margin:           -$sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mt-    { margin-top:       -$sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mr-    { margin-right:     -$sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mb-    { margin-bottom:    -$sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--ml-    { margin-left:      -$sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mh-    { margin-right:     -$sat-margin--small !important; margin-left:   -$sat-margin--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mv-    { margin-top:       -$sat-margin--small !important; margin-bottom: -$sat-margin--small !important; }

    }

}


@if ($sat-enable-responsive-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--m\+    { margin:           double(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mt\+   { margin-top:       double(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mr\+   { margin-right:     double(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mb\+   { margin-bottom:    double(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--ml\+   { margin-left:      double(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mh\+   { margin-right:     double(-$sat-margin) !important; margin-left:      double(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mv\+   { margin-top:       double(-$sat-margin) !important; margin-bottom:    double(-$sat-margin) !important; }

    }

}


@if ($sat-enable-responsive-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--m\+\+  { margin:           quadruple(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mt\+\+ { margin-top:       quadruple(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mr\+\+ { margin-right:     quadruple(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mb\+\+ { margin-bottom:    quadruple(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--ml\+\+ { margin-left:      quadruple(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mh\+\+ { margin-right:     quadruple(-$sat-margin) !important; margin-left:   quadruple(-$sat-margin) !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}--mv\+\+ { margin-top:       quadruple(-$sat-margin) !important; margin-bottom: quadruple(-$sat-margin) !important; }

    }

}





@if ($sat-enable-responsive-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-p       { padding:          $sat-padding !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pt      { padding-top:      $sat-padding !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pr      { padding-right:    $sat-padding !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pb      { padding-bottom:   $sat-padding !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pl      { padding-left:     $sat-padding !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ph      { padding-right:    $sat-padding !important; padding-left:    $sat-padding !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pv      { padding-top:      $sat-padding !important; padding-bottom:  $sat-padding !important; }

    }

}


@if ($sat-enable-responsive-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-p--     { padding:           $sat-padding--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pt--    { padding-top:       $sat-padding--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pr--    { padding-right:     $sat-padding--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pb--    { padding-bottom:    $sat-padding--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pl--    { padding-left:      $sat-padding--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ph--    { padding-right:     $sat-padding--tiny !important; padding-left:      $sat-padding--tiny !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pv--    { padding-top:       $sat-padding--tiny !important; padding-bottom:    $sat-padding--tiny !important; }

    }

}


@if ($sat-enable-responsive-paddings--small == true) {

    /**
     * Add small paddings.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-p-      { padding:           $sat-padding--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pt-     { padding-top:       $sat-padding--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pr-     { padding-right:     $sat-padding--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pb-     { padding-bottom:    $sat-padding--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pl-     { padding-left:      $sat-padding--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ph-     { padding-right:     $sat-padding--small !important; padding-left:    $sat-padding--small !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pv-     { padding-top:       $sat-padding--small !important; padding-bottom:  $sat-padding--small !important; }

    }

}


@if ($sat-enable-responsive-paddings--large == true) {

    /**
     * Add large paddings.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-p\+     { padding:           $sat-padding--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pt\+    { padding-top:       $sat-padding--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pr\+    { padding-right:     $sat-padding--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pb\+    { padding-bottom:    $sat-padding--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pl\+    { padding-left:      $sat-padding--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ph\+    { padding-right:     $sat-padding--large !important; padding-left:   $sat-padding--large !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pv\+    { padding-top:       $sat-padding--large !important; padding-bottom: $sat-padding--large !important; }

    }

}


@if ($sat-enable-responsive-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-p\+\+   { padding:           $sat-padding--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pt\+\+  { padding-top:       $sat-padding--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pr\+\+  { padding-right:     $sat-padding--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pb\+\+  { padding-bottom:    $sat-padding--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pl\+\+  { padding-left:      $sat-padding--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ph\+\+  { padding-right:     $sat-padding--huge !important; padding-left:    $sat-padding--huge !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pv\+\+  { padding-top:       $sat-padding--huge !important; padding-bottom:  $sat-padding--huge !important; }

    }

}


@if ($sat-enable-responsive-paddings--none == true) {

    /**
     * Remove paddings.
     */

    @include sat-generate-spacing() {

        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-p0      { padding:          0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pt0     { padding-top:      0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pr0     { padding-right:    0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pb0     { padding-bottom:   0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pl0     { padding-left:     0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-ph0     { padding-right:    0 !important; padding-left:     0 !important; }
        .#{$sat-spacing-namespace}#{$sat-generate-spacing-alias}-pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

    }

}
