{% block html_head_container %}

{% include 'html-header.twig' %}
	</head>
{% endblock %}
	<body class="{{body_class}} o-site" data-template="base.twig">
		{% include '/static/assets/svg/sprites/svg-symbols.svg' %}

		{% block header %}{% include 'site-header.twig' %}{% endblock %}

		<section id="content" role="main" class="o-site__content">
			{% block content %}{% endblock %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js"></script>
		<script src="{{site.theme.link}}/static/dist/site.min.js"></script>
	</body>
</html>
