{% extends "base.twig" %}

{% block content %}
	<div class="o-post-grid">
		{% for work in works %}
		<article class="o-post-grid__post c-{{ work.post_type }}-post" id="post-{{ work.ID }}">
			<a href="href={{ work.link }}">
				<img class="o-post-grid__post-thumb" src="{{ work.thumbnail.src }}" alt="">
				<span class="o-post-grid__post-title u-mb+">{{ work.title }}</span>
			</a>
		</article>
		{% endfor %}
	</div><!-- /content-wrapper -->
{% endblock %}
