{% extends "base.twig" %}

{% block content %}
	<div class="c-work-post">
		<div class="c-work-post__info">
			<h2 class="c-work-post__title">{{post.title}}</h2>
			<p class="c-work-post__text">{{post.get_content}}</p>			
		</div>

		<div class="o-post-grid c-work-post__gallery">
			{% for image in post.get_field('images') %}
			<div class="o-post-grid__post u-mb">
				<a href="#{{image.id}}" data-lity>
					<img class="c-work-post__thumb" src="{{ TimberImage(image) }}" />
				</a>
				<div id="{{image.id}}" class="lity-hide">
					<img class="c-work-post__full-img" src="{{ TimberImage(image) }}"/>
				</div>
			</div>
			{% endfor %}
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
