<header class="o-site__header js-header c-header">
    <a class="js-header-toggle o-site__header-toggle"></a>
    <a class="c-header__title" href="{{site.url}}"><svg class="c-icon c-icon--logo c-header__logo"><use xlink:href="#izzie-logo"/></svg></a>
    <div class="o-layout c-header-content">
        <div class="o-layout__item u-flex--1-of-1 u-flex-desk--1-of-2">
            <div class="c-header__text">
                {{options.header_text}}
            </div>
        </div>
        <div class="o-layout__item u-flex--1-of-1 u-flex-desk--1-of-2">
            <ul class="c-header__list">
                {% for item in options.social %}
                    <li class="c-header__list-item"><a href="{{item.link_url}}">{{item.link_text}}</a></li>
                {% endfor %}
            </ul>
            <p><a href="mailto:{{options.email}}">{{options.email}}</a></p>

        </div>
    </div>
</header>
