/*!
 * Theme Name: Izzie Klingels Wordpress Theme
 * Description: A custom portfolio theme
 * Author: Brad Zeffren // Saturated Media Works
*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default.....................default settings.
 * Global......................Globally-available variables and settings/config.
 * Colors......................Manage our color palette in isolation.
 *
 * TOOLS
 * Functions...................default functions.
 * Mixins......................default mixins.
 * Responsive..................mixin for generating media queries.
 *
 * GENERIC
 * Normalize.css...............A level playing field.
 * Reset.......................A pared back reset to remove margins.
 * Box-sizing..................Better default `box-sizing`.
 *
 * BASE
 * Page........................Page-level styles (HTML element).
 * Type........................Misc type element styles
 * Headings....................Heading element styles
 * Anchors.....................Anchor element styles
 * Lists.......................List element style styles
 * Images......................Image element styles
 *
 * OBJECTS
 * Layout......................Grid system based on InuitCSS
 *
 * COMPONENTS
 * Buttons.....................Extension of buttons.
 * Headings....................Extension of base.headings for functional styled
 *
 * UTILS
 * Clearfix....................I can’t believe we still need this in 2016.
 * Widths......................Simple width helper classes.
 * Widths-Responsive...........Simple width helper classes for creating responsive column sizes.
 * Spacing.....................Micro-level spacing.
 * Spacing-Resoponsive.........Micro-level spacing for responsive breakpoints.
 * Show/hide...................Helpers to show and side stuff.
 */

/**
*  #SETTINGS
*/
@import 'partials/settings.colors';
@import 'partials/settings.defaults';
@import 'partials/settings.global';
@import 'partials/settings.responsive';


/**
* #TOOLS
*/
@import 'partials/tools.functions';
@import 'partials/tools.mixins';
@import 'partials/tools.responsive';


/**
* #GENERIC
*/
@import 'partials/generic.normalize';
@import 'partials/generic.reset';
@import 'partials/generic.box-sizing';


/**
* #BASE
*/
@import 'partials/base.page';
@import 'partials/base.type';
@import 'partials/base.headings';
@import 'partials/base.anchors';
@import 'partials/base.lists';
@import 'partials/base.images';


/**
* #OBJECTS
*/
@import 'partials/objects.layout-flex';
@import 'partials/objects.site';


/**
* #COMPONENTS
*/
@import 'partials/components.icons';
@import 'partials/components.posts';

/**
* #UTILS
*/
@import 'partials/utils.widths';
@import 'partials/utils.widths-responsive';
$sat-enable-paddings:            true;
$sat-enable-paddings--large:     true;
$sat-enable-margins:             true;
$sat-enable-margins--large:      true;
@import 'partials/utils.spacing';
@import 'partials/utils.flexbox';
@import 'partials/utils.show-hide';
@import 'partials/utils.text-format';
